{
  "plugins": ["prettier-plugin-tailwindcss"],
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "printWidth": 80,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "arrowParens": "always",
  "objectWrap": "collapse",
  "bracketSameLine": false,
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false
}
