@import "tailwindcss";

@plugin "daisyui/theme" {
  name: "hopeflow";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(99% 0.003 247.858);
  --color-base-300: oklch(96% 0.003 264.542);
  --color-base-content: #666;
  --color-primary: oklch(59% 0.145 163.225);
  --color-primary-content: oklch(98% 0.031 120.757);
  --color-secondary: oklch(52% 0.105 223.128);
  --color-secondary-content: oklch(98% 0.019 200.873);
  --color-accent: oklch(71% 0.143 215.221);
  --color-accent-content: oklch(98% 0.019 200.873);
  --color-neutral: oklch(86% 0.005 56.366);
  --color-neutral-content: oklch(21% 0.006 56.043);
  --color-info: oklch(90% 0.058 230.902);
  --color-info-content: oklch(39% 0.09 240.876);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(50% 0.213 27.518);
  --color-error-content: oklch(93% 0.032 17.717);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui" {
  themes: hopeflow --default, dark --prefersdark;
}

:root {
  @media (width < 48rem /* 768px */) {
    /* --modal-tl: 0;
    --modal-tr: 0;
    --modal-bl: 0;
    --modal-br: 0; */
  }
}

* {
  box-sizing: border-box;
}

.flex > * {
  min-width: 0;
  min-height: 0;
}

svg .draw {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
}
svg.in_view .draw {
  animation: svg_draw 1.2s ease-out forwards;
}
@keyframes svg_draw {
  to {
    stroke-dashoffset: 0;
  }
}

svg .fade {
  opacity: 0;
}
svg.in_view .fade {
  animation: svg_fade 1.6s ease-in-out forwards;
}
@keyframes svg_fade {
  to {
    opacity: 1;
  }
}
