@import "tailwindcss";

@layer base {
  /* * {
  box-sizing: border-box;
} */

  .flex > * {
    min-width: 0;
    min-height: 0;
  }
}

@plugin "daisyui/theme" {
  name: "hopeflow";
  default: true;
  prefersdark: false;
  color-scheme: "light";

  --color-base-100: oklch(100% 0 0); /* white */
  --color-base-200: oklch(97% 0.004 250); /* very light gray */
  --color-base-300: oklch(94% 0.006 250); /* light gray */
  --color-base-content: oklch(30% 0.02 250); /* dark text */

  --color-primary: oklch(59.2% 0.145 163.2); /* brand green (#12A17D) */
  --color-primary-content: oklch(
    96% 0.02 160
  ); /* white/near-white for contrast */

  --color-secondary: oklch(63% 0.15 305); /* magenta-pink, complements green */
  --color-secondary-content: oklch(96% 0.02 305); /* readable text */

  --color-accent: oklch(72% 0.16 230); /* sky blue accent */
  --color-accent-content: oklch(98% 0.02 230);

  --color-neutral: oklch(85% 0.01 250); /* soft gray */
  --color-neutral-content: oklch(20% 0.01 250); /* dark gray text */

  --color-info: oklch(78% 0.12 240); /* info blue */
  --color-info-content: oklch(25% 0.04 240);

  --color-success: oklch(
    64% 0.18 140
  ); /* fresh green (different hue than primary) */
  --color-success-content: oklch(96% 0.02 140);

  --color-warning: oklch(75% 0.18 80); /* amber */
  --color-warning-content: oklch(25% 0.05 80);

  --color-error: oklch(55% 0.22 25); /* strong red */
  --color-error-content: oklch(95% 0.02 25);

  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui" {
  themes: hopeflow --default, dark --prefersdark;
}

:root {
  @media (width < 48rem /* 768px */) {
    /* --modal-tl: 0;
    --modal-tr: 0;
    --modal-bl: 0;
    --modal-br: 0; */
  }
}

svg .draw {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
}
svg.in_view .draw {
  animation: svg_draw 1.2s ease-out forwards;
}
@keyframes svg_draw {
  to {
    stroke-dashoffset: 0;
  }
}

svg .fade {
  opacity: 0;
}
svg.in_view .fade {
  animation: svg_fade 1.6s ease-in-out forwards;
}
@keyframes svg_fade {
  to {
    opacity: 1;
  }
}

.steps .step {
  min-width: 3rem;
}
